<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
              <a href="{{ url_for('views.index') }}"><h1 class="logo">Snuff</h1></a>
              <nav>
                <ul class="menu">
                  <li><a href="{{ url_for('views.home') }}">Home</a></li>
                  <li><a href="{{ url_for('views.hello') }}">Hello</a></li>
                </ul>
              </nav>
            </div>
        </header>
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
        <div class="footer">
            <p>© 2021 C.A. van de Griend</p>
            <ul>
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
            </ul>
        </div>
    </body>
</html>
